export(runShiNyP)
import(shiny)
export(vcf2df)
export(vcf2Site_Info)
export(Sampleplot)
export(SNPplot)
export(stat2summary)
export(size2size)
export(popgen2)
export(g.of.p)
export(F.stats)
export(inbreeding.fun)
export(chiS)
export(GDsiteplot)
export(GDgroupplot)
export(chromosome)
export(generateCircosPlot)
export(core.set)
export(IBS_analysis)
export(GT_method_choice)
export(pval_adj_method_choice)
export(AI_model_choice)